<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Marketing</title>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- FontAwsome -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <!-------------------------- Header Section Start -------------------->
    <section>
      <header>
        <div class="nav_bot">
          <nav
            class="navbar navbar-expand-lg navbar-light header_space mb-5 fixed-top"
          >
            <div class="container-fluid">
              <a class="navbar-brand header_logo_style" href="#"
                ><img src="./assets/images/HeaderLogo.svg" alt="header logo"
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item nav_tab">
                    <a class="nav-link active" aria-current="page" href="#"
                      >Pricing</a
                    >
                  </li>
                  <li class="nav-item nav_tab">
                    <a class="nav-link" href="#">ResourcesCenter</a>
                  </li>
                  <li class="nav-item nav_tab">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item nav_tab">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <ul class="d-flex">
                  <div>
                    <button class="btn header_btn_login" type="submit">
                      Login
                    </button>
                  </div>
                  <div>
                    <button class="btn header_btn_signup" type="submit">
                      Sign Up
                    </button>
                  </div>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
    </section>

    <!-------------------------- Header Section End -------------------->
    <!-------------------------- Hero Section Start -------------------->
    <section>
      <div>
        <div class="container mb-5">
          <div class="hero_space hero_bg_position">
            <div class="row">
              <div class="col-xl-6">
                <div class="hero_text_style">
                  <h1>
                    We help any business to get analytics and sales marketing
                  </h1>
                  <p>
                    The fastest and simple way to generate growing business
                    solutions with our products
                  </p>
                </div>
                <div class="mb-3">
                  <div class="hero_search">
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        class="form-control input_style"
                        placeholder="Your business email"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                      />
                      <span
                        class="input-group-text span_color"
                        id="basic-addon2"
                        ><button>Get Started</button></span
                      >
                    </div>
                  </div>
                  <div class="hero_input_p">
                    <p>
                      *we will not disseminate your email and so you avoid spam
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="hero_plus_style">
                      <h1>350+</h1>
                      <p>Over 500 business powered with us</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="hero_plus_style">
                      <h1>4.8</h1>
                      <p>Rating on google play and app store</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-6">
                <div class="hero_child">
                  <img src="./assets/images/heroPattern.svg" alt="" />
                </div>
                <div class="hero_img">
                  <img src="./assets/images/mainhero.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- Hero Section End -------------------->

    <!-------------------------- Logo Section Start -------------------->
    <section>
      <div class="logo_section_space">
        <div class="container mb-5">
          <div class="row">
            <div class="col-4 col-md-6 col-xl-2">
              <div class="logo_style">
                <img src="./assets/images/Microsoft.svg" alt="logo1" />
              </div>
            </div>
            <div class="col-4 col-md-6 col-xl-2">
              <div class="logo_style">
                <img src="./assets/images/Netflix.svg" alt="logo1" />
              </div>
            </div>
            <div class="col-4 col-md-6 col-xl-2">
              <div class="logo_style">
                <img src="./assets/images/Nike.svg" alt="logo1" />
              </div>
            </div>
            <div class="col-4 col-md-6 col-xl-2">
              <div class="logo_style">
                <img src="./assets/images/Shopify.svg" alt="logo1" />
              </div>
            </div>
            <div class="col-4 col-md-6 col-xl-2">
              <div class="logo_style">
                <img src="./assets/images/Slack.svg" alt="logo1" />
              </div>
            </div>
            <div class="col-4 col-md-6 col-xl-2">
              <div class="logo_style">
                <img src="./assets/images/Intel.svg" alt="logo1" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- Logo Section End -------------------->

    <!-------------------------- How our section is easy to use Section Start -------------------->
    <section>
      <div class="easytouse_space">
        <div class="container mb-5">
          <div class="row">
            <div class="col-12">
              <div class="easytouse_text">
                <h1>How our platform process easy to use?</h1>
              </div>
            </div>
            <div class="col-12 col-md-3 col-xl-3">
              <div>
                <div class="easytouse_img_style">
                  <img src="./assets/images/Login.svg" alt="login_img" />
                </div>
                <div class="easytouse_text2_style">
                  <h3>Login or sign up to be able use our platform</h3>
                  <p>
                    You must log in first to be able to use our platform to get
                    your product analytics
                  </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="easytouse_direction">
                <img src="./assets/images/Direction Line.svg" alt="" />
              </div>
            </div>
            <div class="col-12 col-md-3 col-xl-3 easy_dir_space">
              <div class="">
                <div class="easytouse_img_style">
                  <img src="./assets/images/Login.svg" alt="login_img" />
                </div>
                <div class="easytouse_text2_style">
                  <h3>Login or sign up to be able use our platform</h3>
                  <p>
                    You must log in first to be able to use our platform to get
                    your product analytics
                  </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="easytouse_direction">
                <img src="./assets/images/Direction Line.svg" alt="" />
              </div>
            </div>
            <div class="col-12 col-md-3 col-xl-3 easy_dir_space">
              <div class="">
                <div class="easytouse_img_style">
                  <img src="./assets/images/Login.svg" alt="login_img" />
                </div>
                <div class="easytouse_text2_style">
                  <h3>Login or sign up to be able use our platform</h3>
                  <p>
                    You must log in first to be able to use our platform to get
                    your product analytics
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- How our section is easy to use Section End -------------------->

    <!--------------------------The reasons to prefer choosing our platform Section Start-------------------->
    <section>
      <div class="ourplateform_space ourplateform_pattern">
        <div class="container mb-5">
          <div class="row">
            <div class="col-12 col-xl-6 order-2 order-xl-1">
              <div class="our_child">
                <img src="./assets/images/section2Pattern.svg" alt="" />
              </div>
              <div class="ourplateform_img">
                <img src="./assets/images/choosingourplatform.svg" alt="" />
              </div>
            </div>
            <div class="col-12 col-xl-6 order-1 order-xl-2">
              <div class="ourplateform_text">
                <h1>The reasons to prefer choosing our platform</h1>
                <p>
                  Seamless integration of more than 20+ apps that can help
                  analytics your product
                </p>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 col-xl-6 order-1 order-xl-1">
                  <div>
                    <img src="./assets/images/Chart.svg" alt="" />
                  </div>
                  <div class="ourplateform_text2_style">
                    <h3>Real time data</h3>
                    <p>Get the data you need to make smarter decisions.</p>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6 order-2 order-xl-1">
                  <div>
                    <img src="./assets/images/Rocket.svg" alt="" />
                  </div>
                  <div class="ourplateform_text2_style">
                    <h3>Fast and Easy to use</h3>
                    <p>Easily to convert API with just a few clicks</p>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6 order-2 order-xl-1">
                  <div>
                    <img src="./assets/images/Security.svg" alt="" />
                  </div>
                  <div class="ourplateform_text2_style">
                    <h3>Safely Security</h3>
                    <p>All customer data is encrypted</p>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6 order-2 order-xl-1">
                  <div>
                    <img src="./assets/images/Dashboard.svg" alt="" />
                  </div>
                  <div class="ourplateform_text2_style">
                    <h3>Powerfull App</h3>
                    <p>Provide simple and minimalist dashboard</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- The reasons to prefer choosing our platform Section End -------------------->

    <!-------------------------- We provide features for your product Section Start -------------------->
    <section>
      <div class="weprovide_space we_pattern">
        <div class="container mb-5">
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="weprovide_text mb-5">
                <h1>We provide features for your product</h1>
              </div>
              <div class="mb-4">
                <div
                  class="weprovide_shadow accordion"
                  id="accordionPanelsStayOpenExample"
                >
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                      >
                        <img
                          class="pe-4"
                          src="./assets/images/Integrated.svg"
                          alt=""
                        />
                        Integrated with Social Media
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingOne"
                    >
                      <div class="accordion-body">
                        <div class="weprovide_style2">
                          <!-- <img src="./assets/images/Integrated.svg" alt="" /> -->
                          <h3 class="ps-xl-5">Integrated with Social Media</h3>
                          <p>
                            Seamless integration of more than 20+ apps that can
                            help analytics
                          </p>
                          <a href="">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <div class="accordion weprovide_shadow" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                      >
                        <img
                          class="pe-4"
                          src="./assets/images/Sync.svg"
                          alt=""
                        />
                        Always in syncronized
                      </button>
                    </h2>
                    <div
                      id="collapseOne"
                      class="accordion-collapse"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="weprovide_style2">
                          <!-- <img src="./assets/images/Integrated.svg" alt="" /> -->
                          <h3 class="ps-xl-5">Always in syncronized</h3>
                          <p>
                            Seamless integration of more than 20+ apps that can
                            help analytics
                          </p>
                          <a href="">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <div class="weprovide_shadow accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                      >
                        <img
                          class="pe-4"
                          src="./assets/images/Report.svg"
                          alt=""
                        />
                        Powerful report
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseThree"
                      class="accordion-collapse"
                      aria-labelledby="panelsStayOpen-headingThree"
                    >
                      <div class="accordion-body">
                        <div class="weprovide_style2">
                          <!-- <img src="./assets/images/Integrated.svg" alt="" /> -->
                          <h3 class="ps-xl-5">Powerful report</h3>
                          <p>
                            Seamless integration of more than 20+ apps that can
                            help analytics
                          </p>
                          <a href="">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="mb-4">
                <div class="weprovide_ip_style">
                  <img src="./assets/images/Sync.svg" alt="" />
                  <p>Always in syncronized</p>
                </div>
              </div>
              <div class="mb-4">
                <div class="weprovide_ip_style">
                  <img src="./assets/images/Report.svg" alt="" />
                  <p>Powerful report</p>
                </div>
              </div> -->
            </div>
            <div class="col-6">
              <div class="we_child">
                <img src="./assets/images/section3Pattern.svg" alt="" />
              </div>
              <div class="weprovide_heroimg">
                <img src="./assets/images/Weprovidefeatures .svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- We provide features for your product Section End -------------------->
    <!-------------------------- Trusted by company around the world Section Start -------------------->
    <section>
      <div class="trustedbycompany_space">
        <div class="container mb-5">
          <div class="row">
            <div class="col-12 text-center">
              <div class="trustedbycom_global_style"><h3>Global Scale</h3></div>
            </div>
            <div class="col-12 text-center">
              <div class="trustedbycompany_h1_style">
                <h1>Trusted by company around the world</h1>
              </div>
            </div>
            <div class="col-12">
              <div class="trustedbycompany_map">
                <img src="./assets/images/Map.svg" alt="" />
              </div>
            </div>
            <div class="col-6 col-xl-3">
              <div class="trustedbycompany_hp">
                <h1>350+</h1>
                <p>Over 500k business powered with us</p>
              </div>
            </div>
            <div class="col-6 col-xl-3">
              <div class="trustedbycompany_hp">
                <h1>750k</h1>
                <p>Users used our platform in around the world</p>
              </div>
            </div>
            <div class="col-6 col-xl-3">
              <div class="trustedbycompany_hp">
                <h1>4.8</h1>
                <p>Rating on google play and app store</p>
              </div>
            </div>
            <div class="col-6 col-xl-3">
              <div class="trustedbycompany_hp">
                <h1>24+</h1>
                <p>More than 30 countries trust our platform</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- Trusted by company around the world Section End -------------------->

    <!------------------------ See what our customers have to say about us Section Start -------------------->
    <section>
      <div class="card_space">
        <div class="container mb-5">
          <div class="row">
            <div class="col-12">
              <div class="customer">
                <h1>See what our customers have to say about us</h1>
              </div>
            </div>
            <div class="col-12 col-xl-4">
              <div class="customer_card">
                <div class="card_content">
                  <img src="./assets/images/Netflixcard.svg" alt="" />
                  <p>
                    “I’ve used Growthly at many companies before—it’s the go-to
                    solution when you need user and product analytics.”
                  </p>
                </div>
                <div class="card_bottom">
                  <img src="./assets/images/Profile1.svg" alt="" />
                  <h3>Try Washington</h3>
                  <p>CEO of Netflix</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-4">
              <div class="customer_card">
                <div class="card_content">
                  <img src="./assets/images/Microsoftcard.svg" alt="" />
                  <p>
                    “I’ve used Growthly at many companies before—it’s the go-to
                    solution when you need user and product analytics.”
                  </p>
                </div>
                <div class="card_bottom">
                  <img src="./assets/images/Profile2.svg" alt="" />
                  <h3>Try Washington</h3>
                  <p>CEO of Netflix</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-4">
              <div class="customer_card">
                <div class="card_content">
                  <img src="./assets/images/Shopifycard.svg" alt="" />
                  <p>
                    “I’ve used Growthly at many companies before—it’s the go-to
                    solution when you need user and product analytics.”
                  </p>
                </div>
                <div class="card_bottom">
                  <img src="./assets/images/Profile3.svg" alt="" />
                  <h3>Try Washington</h3>
                  <p>CEO of Netflix</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- See what our customers have to say about us Section End -------------------->
    <!-------------------------- Footer Section Start -------------------->

    <section class="footer_section_color">
      <div class="position f_space">
        <div class="child">
          <img src="./assets/images/FooterPattern.svg" alt="" />
        </div>
        <div class="child_left_bottom">
          <img src="./assets/images/flbPattern.svg" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 mt-4 mb-5">
              <div class="footer_leftcontent">
                <h1>Ready to get started?</h1>
                <p>
                  The fastest and simple way to generate growing business
                  solutions with our products
                </p>
              </div>
              <div class="footer_search">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control input_style"
                    placeholder="Your business email"
                    aria-label="Recipient's username"
                    aria-describedby="basic-addon2"
                  />
                  <span class="input-group-text span_color" id="basic-addon2"
                    ><button>Get Started</button></span
                  >
                </div>
              </div>
              <!-- <div class="footer_search">
                <h6>Your business email</h6>
                <button>Get Started</button>
              </div> -->
            </div>
            <div class="col-12 col-xl-6 mb-4">
              <div class="footer_bottomsection">
                <img src="./assets/images/HeaderLogo.svg" alt="" />
                <p>
                  The fastest and simple way to generate growing business
                  solutions with our products
                </p>
              </div>
              <div class="footer_bottom_email">
                <img src="./assets/images/Icon System.svg" alt="" />
                <a href="mailto:" target="_blank"
                  ><p>hello@dhuhacreative.com</p></a
                >
              </div>

              <div class="footer_bottom_email">
                <img src="./assets/images/FooterSlack.svg" alt="" />
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <p>Join our slack community</p></a
                >
              </div>
            </div>
            <div class="col-6 col-xl-2">
              <div class="footer_col">
                <h5>Product</h5>
                <a href=""><h6>Landingpages</h6></a>

                <a href=""><h6>Pricing</h6></a>
                <a href=""><h6>Benefits</h6></a>
                <a href=""><h6>Features</h6></a>
              </div>
            </div>

            <div class="col-6 col-xl-2">
              <div class="footer_col">
                <h5>Company</h5>
                <a href=""><h6>About</h6></a>
                <a href=""><h6>Privacy Policy</h6></a>
                <a href=""><h6>Terms & Conditions</h6></a>
                <a href=""><h6>Partners</h6></a>
                <a href=""><h6>Contact</h6></a>
              </div>
            </div>

            <div class="col-6 col-xl-2">
              <div class="footer_col">
                <a href=""> <h5>Resources</h5></a>
                <a href=""> <h6>Guides and resources</h6></a>
                <a href=""><h6>Blog</h6></a>
                <a href=""> <h6>Tools</h6></a>
                <a href=""> <h6>Support</h6></a>
              </div>
            </div>
            <div class="col-12 col-xl-6 mt-5">
              <div class="footer_2020">
                <p>© 2020 Growthly. All Right Reserved</p>
              </div>
            </div>

            <div class="col-12 col-xl-6 mt-2 mt-xl-5">
              <div class="footer_icons">
                <a href="http://" target="_blank" rel="noopener noreferrer"
                  ><img src="./assets/images/bx_bxl-instagram-alt.svg" alt=""
                /></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"
                  ><img
                    src="./assets/images/akar-icons_twitter-fill.svg"
                    alt=""
                /></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"
                  ><img
                    src="./assets/images/akar-icons_linkedin-fill.svg"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-------------------------- Footer Section End -------------------->

    <!-- Jquery -->
    <script src="./assets/js/jquery.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/
     popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap js -->

    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script src="./assets/js/main.js"></script>
  </body>
</html>
